* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary--color: #6b4227;
    --secondary--color: #ede0d5;
    --bg--color: #f7f4f0;
    --primary--font:  "Inter", sans-serif;
    --secondary--font: "Nunito", sans-serif;
    --opacity: 0.7;
}

li {
    font-family: var(--primary--font);
}

body {
    background-color: var(--secondary--color);
}

header .links .logo a {
    color: var(--primary--color);
}

h1, h2, h3, h4 {
    font-family: var(--primary--font);
}

p {
    font-family:  var(--secondary--font);
}

* svg {
    cursor: pointer;
    transition: all 0.5s ease;
}

* button, nav a li {
    cursor: pointer;
    transition: all 0.5s ease;
}


.btn {
    padding: 8px 10px;
    font-family: var(--secondary--font);
    font-size: 15px;
    font-weight: 500;
    background-color: var(--primary--color);
    border: 1px solid var(--primary--color);
    outline: none;
    color: #fff;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--secondary--color);
    color: var(--primary--color);
}


/* header */
header {
    padding: 10px 50px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--primary--color);
    background-color: var(--bg--color);
}

header .logo {
    user-select: none;
}

header .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: var(--primary--color);
}

header .links nav {
    display: flex;
    column-gap: 30px;
}

header .links nav a li{
    padding: 5px 10px;
}

header .links nav a li:hover {
    background-color: var(--primary--color);
    color: var(--secondary--color);
}

header .links .login-signup {
    display: flex;
    gap: 10px;
}

header .links .login-signup a {
    padding: 6px 12px;
    font-weight: 500;
}

/* .login {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: var(--primary--color);
    padding: 20px;
    border-radius: 5px;
    color: var(--secondary--color);
}

.login .logs a {
    color: var(--secondary--color);
}

.login .logs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    padding: 5px;
} */



/* Hero Section */

.hero-section {
    align-content: center;
    padding: 100px 50px 0 50px;
    background-color: var(--bg--color);
    height: 85vh;
}

.hero-section .details {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 55px;
}

.hero-section .content {
    width: 500px;
}

.hero-section .content h2 {
    font-size: 35px;
    padding-bottom: 20px;
}

.hero-section .info {
    font-size: 18px;
    padding: 15px 0;
    color: var(--primary--font);
    opacity: var(--opacity);
}

.hero-section .button {
    padding: 15px 0;
}

.hero-section .standards {
    padding: 15px 0;
}

.hero-section .standards table {
    padding: 15px 0;
    border-collapse: collapse;    
    width: 70%;
}

.hero-section .standards .data {
    font-weight: 600;
}

.hero-section .standards .name {
    opacity: var(--opacity);
}

.hero-section .img img {
    width: 600px;
    border-radius: 10px;
}

/* trust */

.trust {
    padding: 100px;
}

.trust .head {
    margin-bottom: 80px;
    width: 550px;
}

.trust .head h2{
    font-size: 25px;
    margin-bottom: 18px;
}

.trust .infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.trust .infos .info {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 320px;
}

.trust .infos .info p {
    color: var(--primary--font);
    opacity: var(--opacity);
    line-height: 1.5em;
}

* svg {
    color: var(--primary--color);
    width: 30px;
}

/* Customer preferences */

.preferences {
    background-color: var(--bg--color);
    padding: 100px;
}

.preferences .info {
    margin-bottom: 30px;
}

.preferences .info h2 {
    margin-bottom: 10px;
}

.preferences .drinks {
    display: flex;
    justify-content: space-between;
}

.preferences .drinks .items {
    border-radius: 10px 10px 0 0;
}

.preferences .drinks .img {
    margin-bottom: 20px;
}

.preferences .drinks .images .img img {
    width: 250px;
    height: 330px;
    border-radius: 10px 10px 0 0;
}

.preferences .drinks .images .formation {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.preferences .drinks .images .formation .price {
    font-weight: 600;    
}

/* Story */

.story {
    background-color: var(--secondary--color);
    padding: 50px;
}

.story .details{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.story .img img {
    width: 600px;
    border-radius: 10px;
}

.story .info {
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.story .info h2 {
    font-size: 30px;
}

.story .info p {
    font-size: 18px;
    color: var(--primary--font);
    opacity: var(--opacity);
    line-height: 1.5em;
}

/* Menu */

.menu {
    padding: 100px;
    background-color: var(--bg--color);
}

.menu .info {
    margin-bottom: 50px;
}

.menu .info h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.menu .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.menu .details .infos {
    padding: 20px;
    width: 200px;
    border: 1px solid var(--secondary--color);
}

/* Locations */

.locations {
    padding: 100px;
}

.locations .head {
    margin-bottom: 30px;
}

.locations .head h2 {
    font-size: 30px;
    margin-bottom: 10px;
}  

.locations .each {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.locations .each .local {
    width: 400px;
    padding: 40px 20px;
    border: 1px solid var(--bg--color);
    border-radius: 10px;
}

/* About */

.about {
    background-color: var(--bg--color);
    padding: 100px;
}

.about .head {
    margin-bottom: 30px;
}

.about .head h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.about .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .info .basic {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about .info .values {
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--primary--color);
    border-radius: 10px;
    background-color: var(--secondary--color);
}

/* Blog */

.blog {
    padding: 100px;
    background-color: var(--secondary--color);
}

.blog .head {
    margin-bottom: 30px;
}

.blog .head h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.blog .posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
}

.blog .posts .post {
    width: 350px;
    border: 1px solid var(--bg--color);
    border-radius: 10px;
    padding: 20px;
    line-height: 1.9em;
}

/* connect */

.connect {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg--color);
}

.connect .info {
    align-items: center;
    width: 800px;
    height: 250px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--primary--color);
    border-radius: 10px;
    color: var(--secondary--color);
}

.connect .info h2 {
    font-size: 30px;
}

.connect .info p {
    color: var(--primary--font);
    line-height: 1.5em;
    width: 450px;
}

.connect .info form {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.connect .info form input {
    padding: 10px;
    width: 200px;
    border: 1px solid var(--primary--color);
    border-radius: 5px;
    outline: none;
}

.connect .info form input::placeholder {
    font-family: var(--secondary--font);
    font-size: 15px;
    color: var(--primary--color);
    opacity: var(--opacity);
}

.connect .info form button {
    padding: 10px 15px;
    font-family: var(--secondary--font);
    font-size: 15px;
    font-weight: 500;
    background-color: var(--bg--color);
    border: 1px solid var(--primary--color);
    outline: none;
    color: var(--primary--color);
    border-radius: 5px;
}

/* Footer */

footer {
    padding: 50px 100px;
    background-color: var(--primary--color);
    color: var(--secondary--color);
}

footer * {
    color: var(--secondary--color);
}

footer h2{
    margin-bottom: 20px;
}

footer .info p {
    line-height: 30px;
}

footer .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .footer .info {
    width: 420px;
    line-height: 2em;
}

footer .footer .content {
    display: flex;
    align-items: flex-start;
    gap: 5em;
    height: 200px;
    line-height: 2em;
}

footer .content .links a:hover {
    text-decoration: underline;
}

footer .line {
    margin: 30px 0;
    height: 1px;
    width: 100%;
    background-color: var(--secondary--color);
    opacity: var(--opacity);
}

footer .privacy {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    opacity: var(--opacity);
}

footer .privacy p {
    font-size: 14px;
}

footer .policy {
    display: flex;
    gap: 20px;
}

/* Responsive */

@media (max-width:480px){

    header {
        padding: 10px 20px;
    }

    header .logo h1{
        font-size: 30px;
    }

    .hero-section {
        align-content: center;
        padding: 0 20px;
        background-color: var(--bg--color);
        height: 85vh;
        margin: 0;
    }

    .hero-section .details {
        padding: 20px 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }

    header .links nav {
        display: none;
    }

    .hero-section {
        align-content: center;
        padding: 20px 0 0;
        background-color: var(--bg--color);
        height: 100%;
        width: 100vw;
    }

    .hero-section .img img {
        width: 100%;
        border-radius: 0;
    }

    .hero-section .content {
        width: 88%;
        margin: 0 20px;
    }

    .hero-section .content h2 {
        font-size: 25px;
        padding-bottom: 5px;
    }

    .hero-section .info {
        font-size: 15px;
        padding: 5px 0;
    }

    .hero-section .standards table {
        width: 100%;
        margin: 5px 0;
    }

    .hero-section .standards table td {
        padding: 0 20px 0 0;
    }
}   