* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary--color: #6b4227;
    --secondary--color: #ede0d5;
    /* --tertiary--color: #3f191c; */
    --bg--color: #f7f4f0;
    --primary--font:  "Inter", sans-serif;
    --secondary--font: "Nunito", sans-serif;
    --opacity: 0.7;
}

body {
    background-color: var(--secondary--color);
}

header .links .logo a {
    color: var(--primary--color);
}

h1, h2, h3, h4 {
    font-family: var(--primary--font);
}

p {
    font-family:  var(--secondary--font);
}

* button {
    cursor: pointer;
}

.btn {
    padding: 8px 10px;
    font-family: var(--secondary--font);
    font-size: 15px;
    font-weight: 500;
    background-color: var(--primary--color);
    border: 1px solid var(--primary--color);
    outline: none;
    color: #fff;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--secondary--color);
    color: var(--primary--color);
}


/* header */
header {
    padding: 10px 50px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--primary--color);
    background-color: var(--bg--color);
}

header .logo {
    width: 30px;
    user-select: none;
}

header .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--primary--font);
}

header a {
    color: var(--primary--color);
}

header .links nav {
    display: flex;
    column-gap: 30px;
}

header .links nav a li{
    padding: 5px 10px;
}

header .links nav a li:hover {
    background-color: var(--primary--color);
    color: var(--secondary--color);
}

header .links .user {
    display: flex;
    gap: 10px;
}

header .links .user a button {
    padding: 5px 10px;
    cursor: pointer;
    font-family: var(--secondary--color);
    font-weight: 500;
}



/* Hero Section */

.hero-section {
    align-content: center;
    padding: 100px 50px 0 50px;
    background-color: var(--bg--color);
    height: 85vh;
}

.hero-section .details {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 55px;
}

.hero-section .content {
    width: 500px;
}

.hero-section .content h2 {
    font-size: 35px;
    padding-bottom: 20px;
}

.hero-section .info {
    font-size: 18px;
    padding: 15px 0;
    color: var(--primary--font);
    opacity: var(--opacity);
}

.hero-section .button {
    padding: 15px 0;
}

.hero-section .standards {
    padding: 15px 0;
}

.hero-section .standards table {
    padding: 15px 0;
    border-collapse: collapse;    
    width: 70%;
}

.hero-section .standards .data {
    font-weight: 600;
}

.hero-section .standards .name {
    opacity: var(--opacity);
}

.hero-section .img img {
    width: 600px;
    border-radius: 10px;
}

/* trust */

.trust {
    padding: 100px;
}

.trust .head {
    margin-bottom: 80px;
    width: 550px;
}

.trust .head h2{
    font-size: 25px;
    margin-bottom: 18px;
}

.trust .infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.trust .infos .info {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 350px;
}

.trust .infos .info p {
    color: var(--primary--font);
    opacity: var(--opacity);
    line-height: 1.5em;
}

.trust .infos .info svg {
    color: var(--primary--color);
}

/* Customer preferences */

.preferences {
    background-color: var(--bg--color);
    padding: 100px;
}

.preferences .info {
    margin-bottom: 30px;
}

.preferences .info h2 {
    margin-bottom: 10px;
}

.preferences .drinks {
    display: flex;
    justify-content: space-between;
}

.preferences .drinks .items {
    border-radius: 10px 10px 0 0;
}

.preferences .drinks .img {
    margin-bottom: 20px;
}

.preferences .drinks .images .img img {
    width: 250px;
    height: 330px;
    border-radius: 10px 10px 0 0;
}

.preferences .drinks .images .formation {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.preferences .drinks .images .formation .price {
    font-weight: 600;    
}


.story {
    background-color: var(--secondary--color);
    padding: 50px;
}

.story .details{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.story .img img {
    width: 600px;
    border-radius: 10px;
}

.story .info {
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.story .info h2 {
    font-size: 30px;
}

.story .info p {
    font-size: 18px;
    color: var(--primary--font);
    opacity: var(--opacity);
    line-height: 1.5em;
}

/* Menu */

.menu {
    padding: 100px;
    background-color: var(--bg--color);
}

.menu .info {
    margin-bottom: 50px;
}

.menu .info h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.menu .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.menu .details .infos {
    padding: 20px;
    width: 200px;
    border: 1px solid var(--secondary--color);
}
