* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary--color: #6b4227;
    --secondary--color: #ede0d5;
    --bg--color: #f7f4f0;
    --primary--font:  "Inter", sans-serif;
    --secondary--font: "Nunito", sans-serif;
    --opacity: 0.7;
}

li {
    font-family: var(--primary--font);
}

body {
    background-color: var(--secondary--color);
    background-image: url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

header .links .logo a {
    color: var(--primary--color);
}

h1, h2, h3, h4 {
    font-family: var(--primary--font);
}

p {
    font-family:  var(--secondary--font);
}

* svg {
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn {
    padding: 8px 10px;
    font-family: var(--secondary--font);
    font-size: 15px;
    font-weight: 500;
    background-color: var(--primary--color);
    border: 1px solid var(--primary--color);
    outline: none;
    color: #fff;
    border-radius: 5px;
}

* button, nav a li {
    cursor: pointer;
    transition: all 0.5s ease;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 50%;
    border-radius: 0 20px 0 0;
    background-color: var(--primary--color);
    opacity: var(--opacity);
}

.logo {
    display: inline;
    user-select: none;
    text-align: center;
    width: 100%;
}

form {
    padding: 100px 80px;
    background-color: var(--secondary--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    
}

form .credentials {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form .credentials input {
    background-color: var(--bg--color);
    border: 1px solid var(--primary--color);
    border-radius: 5px;
    height: 25px;
    width: 200px;
    padding: 10px;
}

form .forgot-password {
    align-self: flex-start;
    font-size: 14px;
    margin-top: 10px;
}
