* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary--color: #6b4227;
    --secondary--color: #ede0d5;
    --bg--color: #f7f4f0;
    --primary--font:  "Inter", sans-serif;
    --secondary--font: "Nunito", sans-serif;
}

li {
    font-family: var(--primary--font);
}

body {
    background-color: var(--secondary--color);
    background-image: url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1, h2, h3, h4 {
    font-family: var(--primary--font);
}

p {
    font-family:  var(--secondary--font);
}

.btn {
    padding: 8px 10px;
    font-family: var(--secondary--font);
    font-size: 15px;
    font-weight: 500;
    background-color: var(--primary--color);
    border: 1px solid var(--primary--color);
    outline: none;
    color: #fff;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--secondary--color);
    color: var(--primary--color);
}

* button, nav a li {
    cursor: pointer;
    transition: all 0.5s ease;
}


.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 20px 0;
    width: 50%;
    border-radius: 20px 0 0 0;
    background-color: rgb(0, 0, 0, 0.7); 

}

.register .logo {
    display: inline;
    user-select: none;
    text-align: center;
    margin-bottom: 20px;
}

.register .logo h1 {
    color: var(--secondary--color);
}

form {
    padding: 30px 80px 70px;
    background-color: var(--secondary--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 5px;   
}

form .sign {
    margin: 10px 0 20px;
}

form .credentials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form .credentials input {
    font-family: var(--secondary--font);
    background-color: var(--bg--color);
    border: 1px solid var(--primary--color);
    border-radius: 3px;
    height: 25px;
    width: 200px;
    padding: 6px 8px;
}

form .credentials input::placeholder {
    font-family: var(--secondary--font);
    font-size: 14px;
    color: #888;
}

form .login {
    display: flex;
    align-self: flex-start;
    font-size: 14px;
    margin-top: 10px;
    font-family: var(--secondary--font);
}

form .login a {
    color: #000;
}

form .login a:hover {
    text-decoration: underline;
}

.container .info {
    background-color: rgb(0, 0, 0, 0.8);
    padding: 20px 30px;
    border-radius: 5px;
    margin: 0 auto;
    width: 35%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 900;
    color: var(--secondary--color);
}

.container .info span {
    color: red;
    font-family: var(--secondary--font);
}
